@model Library.Models.ApplicationUser

@using Microsoft.AspNetCore.Identity
@using Library.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<h2>Issued Books</h2>
<div class="row">
    <div class="col-lg-4 col-md-12" >
        <p>
            User :  @Html.DisplayFor(model => model.UserName)
        </p>
    </div>
    <div class="col-lg-4 col-md-12">
        <p>
            Email :  @Html.DisplayFor(model => model.Email)
        </p>
    </div>

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TakenBooks.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TakenBooks.First().Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TakenBooks.First().Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TakenBooks.First().Price)
            </th>
            <th>

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TakenBooks.ToList())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-controller="Books" asp-action="Details" asp-route-id="@item.BookID">Details</a>
                </td>
                <td>
                    @if (!User.IsInRole("User"))
                    {
                    <a href=@Url.Action("ReturnBook", "Books", new { id = UserManager.GetUserName(User), Bookid = item.BookID })>Return Book</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
