@using Microsoft.AspNetCore.Identity
@using Library.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<IdentityRole> RoleManager

@model IEnumerable<Library.Models.AccountViewModels.AccountRoleView>
@{
    ViewData["Title"] = "Members";
}

<h2>Members</h2>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Roles)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Roles)
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        <a asp-controller="Home" asp-action="Index" asp-route-id="@item.User.UserName">Show Books</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
